<h1>Product</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="!messageForm.invalid">Your form is valid!</h5>

    <label>
      Product Name:
      <input type="text" formControlName="name" [(ngModel)]="form.name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Please insert product name!</div>
      </div>
    </label>

    <label>
      Price:
      <input type="number" formControlName="price" [(ngModel)]="form.price">
      <div *ngIf="submitted && messageForm.controls.price.errors" class="error">
        <div *ngIf="messageForm.controls.price.errors.required">Please insert the product price!</div>
      </div>
    </label>

    <input type="submit" value="Send message" class="cta">
  
  </form>
